.a{
  background-color: #ff7f7f; /* Cor de fundo desejada */
  margin: 0px; /* Para remover as margens padrão do corpo */
  padding: 0; /* Para remover o padding padrão do corpo */
  font-family: 'Arial', sans-serif; /* Especifica a fonte padrão para o corpo */
  color: #fff; 
}

